html{
    height: 100%;
}

body{
    background-color: black;
    background-image: url(IMG/streetatnight.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container{
    position: absolute;
    left: 1000px;
}


.canvasContainer1{
    position: absolute;
    left: 500px;
    top: 200px;
}
p{
    font-size: 18px;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
  
}