/* * {
    box-sizing: border-box;
  } */

html{
    height: 100%;
}

body{
    background-color: black;
    background-image: url(IMG/black-black-and-white-night-street-light-wallpaper-preview.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  


}


    header {
    height: 20px;
    margin-left: auto;
    margin-right: auto; 
    text-align: right;

}   

nav{
    background-color: rgba(0, 0, 0, 0.347);
    height: 40px;
    
}

main{
    height: 300px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240;
    padding-right: 240;
}

footer{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
    height: 50px;
    
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

h1{
    font-size: 35px;
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
}

p{
    font-size: 14px;
    color:white;
    font-family: 'Times New Roman', Times, serif;

}
iframe{
    text-align: left;
}

a{
    color: red;
    /* text-decoration: none; */
}

.zoom {
    padding: 30px;
    /* background-color: green; */
    transition: transform .3s;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5);  
  }
  
  




