html{100%}

body{
    background-color: #57068c;
    background-image: url(Img/wp4239470.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container{
    margin-left:auto;
    margin-right:auto;
    width:1024px; 
}

header{

    height: 118px;
    text-align: left;
    
    
}
nav{
    background-color:#56068c35;
    height: 40px;
}
main{
    height: 400px;
}
footer{
    height: 100px;

}
p{font-size: 18px;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{font-size: 40px;
    color: white;
    text-align:left;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

    a{
        color: #57068c;
    }
    




